%h3 Your Bakery

.bakery-nav
  = link_to "View your ovens", ovens_path

%br

.store-inventory
  Cookies for sale:
  %ul
    - current_user.stored_cookies.where(:ready => true).group_by(&:fillings).each_pair do |fillings, cookies|
      %li
        = pluralize(cookies.sum(&:quantity), "Cookie")
        with
        = fillings || "no filling"
    
